/Algorithms/practice_problems/a.out
/Algorithms/practice_problems/demoWhile.cpp
/misc_projects/spring_practice/spring-demo-annotation/lib/
/misc_projects/spring_practice/spring-demo-one/lib/
/misc_projects/spring_practice/.metadata/*
/misc_projects/spring_practice/spring-demo-one/bin/
/misc_projects/spring_practice/spring-demo-annotation/.settings/
/misc_projects/spring_practice/spring-demo-one/.settings/
/misc_projects/spring_practice/spring-demo-one/bin/
/misc_projects/spring_practice/RemoteSystemsTempFiles/
/misc_projects/spring_practice/spring-mvc-demo/*
/misc_projects/spring_practice/.metadata/.mylyn/
!/misc_projects/spring_practice/spring-mvc-demo/src
!/misc_projects/spring_practice/spring-mvc-demo/WebContent
